@CHARSET "UTF-8";
/**
 * @file 960.css
 * Core CSS for 16 column 960 Grid System.
 * Learn more - http://960.gs
 *
 */

/* ****************************************************************************
 * Container
 * ************************************************************************* */
.container-16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* ****************************************************************************
 * Grid >> Global
 * ************************************************************************* */
.grid-1, .grid-2,  .grid-3,  .grid-4,  .grid-5,  .grid-6,  .grid-7,  .grid-8,
.grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16 {
  display: inline;
  float: left; /* RTL */
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

/* ****************************************************************************
 * Grid >> Children (Alpha ~ First, Omega ~ Last) -Has RTL counterpart.
 * ************************************************************************* */
.alpha { margin-left: 0; }
.omega { margin-right: 0; }

/* ****************************************************************************
 * Grid >> 16 Columns
 * ************************************************************************* */
.container-16 .grid-1  { width: 40px; }
.container-16 .grid-2  { width: 100px; }
.container-16 .grid-3  { width: 160px; }
.container-16 .grid-4  { width: 220px; }
.container-16 .grid-5  { width: 280px; }
.container-16 .grid-6  { width: 340px; }
.container-16 .grid-7  { width: 400px; }
.container-16 .grid-8  { width: 460px; }
.container-16 .grid-9  { width: 520px; }
.container-16 .grid-10 { width: 580px; }
.container-16 .grid-11 { width: 640px; }
.container-16 .grid-12 { width: 700px; }
.container-16 .grid-13 { width: 760px; }
.container-16 .grid-14 { width: 820px; }
.container-16 .grid-15 { width: 880px; }
.container-16 .grid-16 { width: 940px; }

/* ****************************************************************************
 * Prefix Extra Space - has RTL Counterpart
 * ************************************************************************* */
.container-16 .prefix-1  { padding-left: 60px; }
.container-16 .prefix-2  { padding-left: 120px; }
.container-16 .prefix-3  { padding-left: 180px; }
.container-16 .prefix-4  { padding-left: 240px; }
.container-16 .prefix-5  { padding-left: 300px; }
.container-16 .prefix-6  { padding-left: 360px; }
.container-16 .prefix-7  { padding-left: 420px; }
.container-16 .prefix-8  { padding-left: 480px; }
.container-16 .prefix-9  { padding-left: 540px; }
.container-16 .prefix-10 { padding-left: 600px; }
.container-16 .prefix-11 { padding-left: 660px; }
.container-16 .prefix-12 { padding-left: 720px; }
.container-16 .prefix-13 { padding-left: 780px; }
.container-16 .prefix-14 { padding-left: 840px; }
.container-16 .prefix-15 { padding-left: 900px; }

/* ****************************************************************************
 * Suffix Extra Space - has RTL Counterpart
 * ************************************************************************* */
.container-16 .suffix-1  { padding-right: 60px; }
.container-16 .suffix-2  { padding-right: 120px; }
.container-16 .suffix-3  { padding-right: 180px; }
.container-16 .suffix-4  { padding-right: 240px; }
.container-16 .suffix-5  { padding-right: 300px; }
.container-16 .suffix-6  { padding-right: 360px; }
.container-16 .suffix-7  { padding-right: 420px; }
.container-16 .suffix-8  { padding-right: 480px; }
.container-16 .suffix-9  { padding-right: 540px; }
.container-16 .suffix-10 { padding-right: 600px; }
.container-16 .suffix-11 { padding-right: 660px; }
.container-16 .suffix-12 { padding-right: 720px; }
.container-16 .suffix-13 { padding-right: 780px; }
.container-16 .suffix-14 { padding-right: 840px; }
.container-16 .suffix-15 { padding-right: 900px; }

/* ****************************************************************************
 * Push Space - has RTL Counterpart
 * ************************************************************************* */
.push-1, .push-2,  .push-3,  .push-4,  .push-5,  .push-6,  .push-7,  .push-8,
.push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16 {
  position: relative;
}

.container-16 .push-1  { left: 60px; }
.container-16 .push-2  { left: 120px; }
.container-16 .push-3  { left: 180px; }
.container-16 .push-4  { left: 240px; }
.container-16 .push-5  { left: 300px; }
.container-16 .push-6  { left: 360px; }
.container-16 .push-7  { left: 420px; }
.container-16 .push-8  { left: 480px; }
.container-16 .push-9  { left: 540px; }
.container-16 .push-10 { left: 600px; }
.container-16 .push-11 { left: 660px; }
.container-16 .push-12 { left: 720px; }
.container-16 .push-13 { left: 780px; }
.container-16 .push-14 { left: 840px; }
.container-16 .push-15 { left: 900px; }

/* ****************************************************************************
 * Pull Space - has RTL Counterpart
 * ************************************************************************* */
.pull-1,  .pull-2, .pull-3,  .pull-4,  .pull-5,  .pull-6,  .pull-7,  .pull-8,
.pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16 {
  position: relative;
}

.container-16 .pull-1  { left: -60px; }
.container-16 .pull-2  { left: -120px; }
.container-16 .pull-3  { left: -180px; }
.container-16 .pull-4  { left: -240px; }
.container-16 .pull-5  { left: -300px; }
.container-16 .pull-6  { left: -360px; }
.container-16 .pull-7  { left: -420px; }
.container-16 .pull-8  { left: -480px; }
.container-16 .pull-9  { left: -540px; }
.container-16 .pull-10 { left: -600px; }
.container-16 .pull-11 { left: -660px; }
.container-16 .pull-12 { left: -720px; }
.container-16 .pull-13 { left: -780px; }
.container-16 .pull-14 { left: -840px; }
.container-16 .pull-15 { left: -900px; }
.container-16 .pull-16 { left: -960px; }
