@CHARSET "UTF-8";

/* @file
 * General styles for Nitobe.
 *
 */

/* -- -------------------------------------------------------------------- -- *
 * -- HTML Elements                                                        -- *
 * -- -------------------------------------------------------------------- -- */
a { }
    a:link, a:visited {
        color: #36C;
        text-decoration: none;
    }
    a:hover {
        color: #ED1A09;
        text-decoration: underline;
    }
    a:focus {
        outline: #CCC 1px dotted;
    }
body { }
    body.nitobe {
        /* The body class is necessary so that WYSIWYG editors that don't specify a
         * background for their bodies don't inherit the Nitobe background. */
        background: #CCC url(images/background.gif) repeat;
        color: #333;  
    }
        body.nitobe .page-wrapper {
            background: #FFF;
            border: 1px solid #CCC;
            color: #333;
            margin: 20px auto;
            padding: 20px 0;
            width: 980px;
        }
        body.nitobe.in-maintenance .page-wrapper .content-area .main-content {
            padding-bottom: 5em;
            margin-bottom: 5em;  
        }
fieldset {
    border: 1px solid #C8C8C8;
    padding: 1em; 
}
    fieldset>legend {
        font-weight: bold;
        padding-right: 0.5em; 
    }
        fieldset>legend a:link { text-decoration: none; }
    fieldset.collapsible>legend { border: 1px solid #C8C8C8; }
    fieldset.collapsed>legend { border: 1px solid #C8C8C8; }
hr {
    border: none;
    height: 0px;
    line-height: 0px;
    margin: 0px;
    padding: 0px;
}
    hr.rule-bottom {
        background: #CCC url(images/background-light.gif) repeat 2px 0;
        border: 0;
        border-bottom: 1px solid #333;
        height: 5px;
        margin-bottom: 1em;
        margin-top: 0;
        padding: 0;
    }
        hr.rule-bottom.no-menu-rule {
            margin-bottom: 0;
            margin-top: 4px;
        }
    hr.rule-top {
        background: #CCC url(images/background-light.gif) repeat 2px 0;
        border: 0;
        border-top: 1px solid #333;
        height: 5px;
        margin-top: 0;
        margin-bottom: 1em;
        padding: 0;
    }
img { }
    img.align-left {
        float: left;
        margin: 0 1em 1em 0;
        padding: 0;
    }
    img.align-right {
        float: right;
        margin: 0 0 1em 1em;
    }
input { }
    input[disabled='disabled'] {
        background-color: #AAA;
        color: #666;
        font-style: italic;
    }
label { font-weight: bold; }
ul { }
    ul.primary-nav  {
        background: #CCC url(images/background-light.gif) repeat;
        border-bottom: 1px solid #333;
        color: #333;
        margin: 0;
        padding: 0;
    }
        ul.primary-nav li {
            display: inline;
            line-height: 2.2em;
        }
            ul.primary-nav li a:link, 
            ul.primary-nav li a:hover, 
            ul.primary-nav li a:visited  {
                background: transparent;
                border: none;
                color: #333;
                float: left;
                font-weight: bold;
                margin: 0;
                padding-left: 10px;
                padding-right: 10px;
                text-decoration: none;
                text-transform: lowercase;
            }
            ul.primary-nav li a:hover {
                background: #333 url(images/background-medium.gif) repeat;
                color: #000;
            }
            ul.primary-nav li.active a,
            ul.primary-nav li.active a.active,
            ul.primary-nav li.active-trail a,
            ul.primary-nav li.active-trail a.active  {
                background: #333 url(images/background-dark.gif) repeat;
                color: #FFF;
            }
            ul.primary-nav li.active a:hover,
            ul.primary-nav li.active a.active:hover {
                background: #333 url(images/background-dark.gif) repeat;
                color: #FFF;
            }
            ul.primary-nav li.current_page_item a {
                background: #333 url(images/background-dark.gif) repeat;
                color: #FFF;
            }
        ul.primary-nav.has-secondary { border: none; }
    ul.secondary-nav {
        background: #333 url(images/background-dark.gif) repeat;
        border-bottom: 1px solid #333;
        color: #333;
        display: block;   
        height: auto;
        line-height: normal;
        list-style-position: outside;
        list-style-type: none;
        margin: 0;
        padding: 0 0 2px 0;
        text-transform: lowercase;
        white-space: normal;
    }
        ul.secondary-nav li {
            border: none;
            line-height: 2.2em;
            margin: 0 0;
            padding: 0;
        }
            ul.secondary-nav li a {
                background: transparent;
                border: none;
                color: #888;
                font-weight: bold;
                padding: 0 10px;
            }
                ul.secondary-nav li a.active { color: #FFF;}
                ul.secondary-nav li a:hover {
                    color: #4CF;
                    text-decoration: none;
                }
            ul.secondary-nav li.active { }
                ul.secondary-nav li.active a:hover { color: #FFF; }

/* -- -------------------------------------------------------------------- -- *
 * -- Classes                                                              -- *
 * -- -------------------------------------------------------------------- -- */
.align-left { text-align: left; }
.align-right { text-align: right; }
.block { margin-bottom: 1.5em; }
    .block h2,
    .block h3 {
        border-bottom: 1px solid #333;
        color: #555;
        font-size: 1.5em;
        font-weight: normal;
        margin: 0;
        margin-bottom: 6px;
        margin-top: 0.5em;
        text-transform: lowercase;
    }
    .block .content { }
        .block .content ul,
        .block .content ul.menu {
            list-style-position: inside;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
            .block .content ul li, 
            .block .content ul.menu li {
                border-bottom: 1px solid #F2F2F2;
                list-style-position: inside;
                list-style-type: none;
                margin-left: 0;
                padding-left: 0;
            }
            .block .content ul.menu li ul.menu { }
                .block .content ul.menu li ul.menu li { margin-left: 1em; }
                .block .content ul.menu li ul.menu li.last,
                .block .content ul.menu li ul.menu li ul.menu li.last { border: 0; }
        .block .content ul.pager {
            line-height: 250%;
            margin: 1em 1em;
        }
            .block .content ul.pager li {
                border: 0;
                font-weight: bold;
                margin: 0 2px;
                padding: 0;
            }
                .block .content ul.pager li a {
                    border: 1px solid #CCC;
                    color: #36C;
                    padding: 0.25em 0.5em;
                }
                    .block .content ul.pager li a:hover {
                        background: #222 url(images/background-dark.gif) repeat;
                        border: 1px solid #222;
                        color: #4CF;
                        padding: 0.25em 0.5em;
                        text-decoration: none;
                    }
                .block .content ul.pager li.pager-current {
                    background: #222 url(images/background-dark.gif) repeat;
                    border: 1px solid #222;
                    color: #FFF;
                    padding: 0.25em 0.5em;
                }
.book-navigation { margin-bottom: 1.5em; }
    .book-navigation ul.menu {
        border-color: #CCC;
        list-style-position: inside;
        margin: 0px;
        padding: 0 0 0.5em 0;
        width: 100%;
    }
    .book-navigation .page-links {
        border-color: #CCC;
        padding: 0;
        margin: 0;
        text-align: center;
    }
.break {
    clear: both;
    display: block; 
}
.comment-wrapper .comment { margin-bottom: 1.5em; }
    .comment-wrapper .comment .comment-meta {
        margin: 0;
        padding: 9px 1em 0 1em;
    }
        .comment-wrapper .comment .comment-meta ul.links { display: block; }
        .comment-wrapper .comment .comment-meta ul.links li {
            border: 0;
            font-style: italic;
            margin: 0;
            padding: 0;
        }
        .comment-wrapper .comment .comment-meta .author-date { font-style: italic; }
        .comment-wrapper .comment .comment-meta .author-date a { font-weight: bold; }
    .comment-wrapper .comment .content {
        border: 1px solid #CCCccc;
        border-bottom: none;
        padding: 1em 1em 0 1em;
    }
    .comment-wrapper .comment .content .field .field-items .field-item { 
        background-color: transparent; 
    }
    .comment-wrapper .comment .content .user-picture {
        float: left;
        margin: 0 0.75em 0 0;
    }
    .comment-wrapper .comment .content h3 { border-bottom: none; }
        .comment-wrapper .comment .content h3 a {
            color: #222;
            text-decoration: none;
        }
        .comment-wrapper .comment .content h3 a:hover { color: #ED1A09; }
    .comment-wrapper .comment.odd .content { background-color: #EEE; }
    .comment-wrapper .comment.even .content { background: #FFF; }
    .comment-wrapper .comment.comment-by-node-author .content { background: #E5ECF9; }
    .comment-wrapper .comment.comment-unpublished .content { background-color: #EEB9B9; }
    .comment-wrapper .comment.even .comment-meta {
        background: #FFF url(images/comment-even.gif) no-repeat left top;
    }
    .comment-wrapper .comment.odd .comment-meta {
        background: #FFF url(images/comment-odd.gif) no-repeat left top;
    }
    .comment-wrapper .comment.original-author .comment-meta {
        background: #FFF url(images/comment-author.gif) no-repeat left top;
    }
    .comment-wrapper .comment.even.comment-unpublished .comment-meta,
    .comment-wrapper .comment.odd.comment-unpublished .comment-meta {
        background: #FFF url(images/comment-unpublished.gif) no-repeat left top;
    }
.even { background-color: #FFF; }
.footer-columns { margin-top: 1.5em; }
.forum-topic-navigation {
    border-color: #CCC;
    margin-bottom: 1.5em;
}
    .forum-topic-navigation a.topic-previous { 
        float: left;
        text-align: left;
        width: 50%;
    }
    .forum-topic-navigation a.topic-next {
        float: right;
        text-align: right;
        width: 50%;
    }
.header-area .region-title-group {
    float: left;
    margin-right: 10px;
}
    .header-area .region-title-group .site-slogan {
        color: #C8C8C8;
        display: block;
        font-style: italic;
        font-weight: bold;
    }
    .header-area .region-title-group .site-title {
        display: inline-block;
        font-size: 3em;
        line-height: 1em;
        margin: 0;
        padding: 0;
    }
        .header-area .region-title-group .site-title a {
            font-weight: normal;
            font-style: normal;
            text-transform: lowercase;
        }
            .header-area .region-title-group .site-title a:link,
            .header-area .region-title-group .site-title a:hover,
            .header-area .region-title-group .site-title a:visited {
                color: #333;
                text-decoration: none;
            }
        .header-area .region-title-group .site-title span.alt-color { color:#CCC; }
.indented { margin-left: 25px; }
.main-content { margin-bottom: 1em; }
.nav-links {
    background-color: #FFF;
    padding-top: 5px;
}
.node {
    clear: both;
    margin-bottom: 3em;
}
    .node .content {
        clear: both;
        padding: 0;
    }
        .node .content .node-author {
            color: #999;
            font-style: italic;
            margin: -0.4em 0 0.4em 0;
            padding: 0;
            text-align: right;
            text-transform: lowercase;
        }
        .node .content .user-picture {
            display: inline-block;
            float: right;
            margin: 0 0 0 0.75em;
            padding: 0;
        }
    .node .meta {
        background-color: #f9f9f9;
        color: #888;
        font-style: italic;
        padding: 2px 5px;
        text-align: right;
        text-transform: lowercase;
    }
        .node .meta .field-type-taxonomy-term-reference {
            background-color: transparent;
            display: block;
        }
            .node .meta .field-type-taxonomy-term-reference .field-label {
                background-color: transparent;
                display: inline;
            }
            .node .meta .field-type-taxonomy-term-reference .field-items { display: inline; }
                .node .meta .field-type-taxonomy-term-reference .field-items .field-item {
                    display: inline;
                    margin-left: 1em;
                }
                    .node .meta .field-type-taxonomy-term-reference .field-items .field-item.even,
                    .node .meta .field-type-taxonomy-term-reference .field-items .field-item.odd { background-color: transparent; }
        .node .meta .links .readmore { text-transform: lowercase; }
    .node .node-headline {
        border-bottom: 1px solid #C8C8C8;
        margin-bottom: 0.5em;
        padding: 0;
        width: 100%;
    }
        .node .node-headline h2 {
            display: inline-block;
            float: left;
            line-height: 1em;
            margin: 0;
            padding: 0;
            text-transform: lowercase;
            width: 66%;
            border: 0;
            font-size: 2em;
        }
            .node .node-headline h2 a:link, 
            .node .node-headline h2 a:visited {
                color: #222;
                font-weight: normal;
                text-decoration: none;
            }
            .node .node-headline h2 a:hover {
                color: #ED1A09;
                font-weight: normal;
                text-decoration: none;
            }
        .node .node-headline .timestamp {
            color: #C8C8C8;
            float: left;
            font-size: 2em;
            font-weight: normal;
            letter-spacing: -1px;
            line-height: 1em;
            margin: 0;
            padding: 0;
            text-align: right;
            text-transform: lowercase;
            vertical-align: bottom;
            width: 33%;
        }
    .node.node-teaser .content p { margin-bottom: 0; }
    .node.node-teaser .content p+p { margin-top: 20px; }
.odd { background-color: #EEE; }
.page-headline {
    border-bottom: 1px solid #CCC;
    margin-bottom: 0.5em;
}
    .page-headline h1.page-title {
        color: #333;
        display: inline-block;
        float: left;
        font-size: 2em;
        font-weight: normal;
        line-height: 1em;
        margin: 0;
        padding: 0;
        text-transform: lowercase;
        width: 66%;
    }
    .page-headline .timestamp {
        color: #CCC;
        float: left;
        font-size: 2em;
        font-weight: normal;
        letter-spacing: -1px;
        line-height: 1em;
        margin: 0;
        padding: 0;
        text-align: right;
        text-transform: lowercase;
        vertical-align: bottom;
        width: 33%;
    }
.region-help  {
    background: #E5ECF9;
    border: 1px solid #DDD;
    color: #222;
    font-style: normal;
    margin-bottom: 1.6em;
    padding: 0.8em;
}
    .region-help p { margin-bottom: 0; }
    .region-help p+p { margin-top: 2em; }
.region-highlighted {
    color: #C8C8C8;
    display: block;
    font-style: italic;
    font-weight: bold;
    margin: 0 0 2em 0;
    padding: 0;   
}
.region-masthead {
    height: 118px;
    margin-bottom: 4px;
    margin-top: 4px;
}
.search-results { }
    .search-results li { }
        .search-results li a { }
            .search-results li h3.title a:link,
            .search-results li h3.title a:visited {
                color: #222;
                font-weight: normal;
                text-decoration: none;
            }
            .search-results li h3.title a:hover {
                color: #ED1A09;
                font-weight: normal;
                text-decoration: none;
            }
        .search-results li h3.title {
            border: 0;
        }
        .search-results li .search-snippet-info { }
            .search-results li .search-snippet-info .search-snippet { }
            .search-results li .search-snippet-info .search-info { }
.tabs-wrapper { 
    background-color: #FFF;
    margin-bottom: 1em;
    padding-top: 5px;
}
.tabs { }
    .tabs.primary {
        background: #CCC url(images/background-light.gif) repeat;
        border-bottom: 1px solid #333;
        color: #333;
        margin: 0;
        padding: 0;
    }
        .tabs.primary li {
            display: inline;
            line-height: 2.2em;
        }
            .tabs.primary li a:link, 
            .tabs.primary li a:hover, 
            .tabs.primary li a:visited {
                background: transparent;
                border: none;
                color: #333;
                float: left;
                font-weight: bold;
                margin: 0;
                padding-left: 10px;
                padding-right: 10px;
                text-decoration: none;
                text-transform: lowercase;
            }
            .tabs.primary li a:hover {
                background: #333 url(images/background-medium.gif) repeat;
                color: #000;
            }
            .tabs.primary li.active { }
                .tabs.primary li.active a,
                .tabs.primary li.active a.active,
                .tabs.primary li.active-trail a,
                .tabs.primary li.active-trail a.active {
                    background: #333 url(images/background-dark.gif) repeat;
                    color: #FFF;
                }
                .tabs.primary li.active a:hover,
                .tabs.primary li.active a.active:hover {
                    background: #333 url(images/background-dark.gif) repeat;
                    color: #FFF;
                }
                .tabs.primary li.active a {
                    background: #333 url(images/background-dark.gif) repeat;
                    color: #FFF;
                }
        .tabs.primary.has-secondary { border: none; }
    .tabs.secondary {
        background: #333 url(images/background-dark.gif) repeat;
        border-bottom: 1px solid #333;
        color: #333;
        display: block;   
        height: auto;
        line-height: normal;
        list-style-position: outside;
        list-style-type: none;
        margin: 0;
        padding: 0 0 2px 0;
        text-transform: lowercase;
        white-space: normal;
    }
        .tabs.secondary li {
            border: none;
            line-height: 2.2em;
            margin: 0 0;
            padding: 0;
        }
            .tabs.secondary li a {
                background: transparent;
                border: none;
                color: #888;
                font-weight: bold;
                padding: 0 10px;
            }
                .tabs.secondary li a:hover {
                    color: #4CF;
                    text-decoration: none;
                }
                .tabs.secondary li a.active { color: #FFF;}
            .tabs.secondary li.active { }
                .tabs.secondary li.active a:hover { color: #FFF; }


/* -- -------------------------------------------------------------------- -- *
 * -- Identity Elements                                                    -- *
 * -- -------------------------------------------------------------------- -- */
#comment-form { }
    #comment-form #edit-comment-body { }
        #comment-form #edit-comment-body #comment-body-add-more-wrapper 
        .filter-wrapper .filter-guidelines .filter-guidelines-item ul.tips {
            list-style-type: disc;
        }
            #comment-form #edit-comment-body #comment-body-add-more-wrapper 
            .filter-wrapper .filter-guidelines .filter-guidelines-item ul.tips li {
                border: 0;
                list-style-type: disc;
            }
#drupal-status-messages { }
    #drupal-status-messages .messages {
        border: 1px solid #DDD;
        font-style: normal;
        margin-bottom: 1.6em;
        padding: 1em 1.5em;
    }
        #drupal-status-messages .messages p { margin-bottom: 0; }
        #drupal-status-messages .messages p+p { margin-top: 2em; }
        #drupal-status-messages .messages.error {
            background: #EEB9B9;
            border-color:#FBC2C4;
            color:#222;
        }
        #drupal-status-messages .messages.status {
            background: #CCEECC;
            border-color:#C6D880;
            color:#222;
        }
        #drupal-status-messages .messages.warning {
            background-color: #FFFFDD;
            border: 1px solid #f0C020;
            color: #222;
        }
