@CHARSET "UTF-8";

/**
 * @file
 * Typography styles for Nitobe.
 *
 */

/* ****************************************************************************
 * Default font settings. The font-size percentage is of 16px.
 * (0.875 * 16px = 14px)
 * ************************************************************************* */
body {
  background: #fff;
  color: #222;
  font: 87.5%/1.5 Corbel, "Helvetica Neue", Helvetica, Arial, FreeSans, 
        "Liberation Sans", sans-serif;
}


/* ****************************************************************************
 * Headings
 * ************************************************************************* */
h1, h2, h3, h4, h5, h6 {
  color: #111;
  font-weight: normal;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }


/* ****************************************************************************
 * Text elements
 * ************************************************************************* */
p { margin: 0 0 1.5em; }

a:focus, a:hover { color: #000; }

a {
  color: #009;
  text-decoration: underline;
}

big, .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

b, strong { font-weight: bold; }

em, dfn, i { font-style: italic; }

dfn { font-weight: bold; }

sup, sub { line-height: 0; }

abbr, acronym { 
  border-bottom: 1px dotted #666;
  font-size: 85%;
  letter-spacing: .1em;
  text-transform: uppercase;
}

abbr[title], acronym[title], dfn[title] {
  border-bottom: 1px dotted #666;
  cursor: help;
}

address {
  font-style: italic;
  margin: 0 0 1.5em;
}

del	{
  background: #ffcccc;
  color: #666;
  padding: 0 0.25em;
  text-decoration: strikethrough;
}

ins {
  background: #c7f2c8;
  color: #000;
  padding: 0 0.25em;
}

pre {
  margin: 1.5em 0;
  white-space: pre;
}

code, kbd, pre, samp, tt, var {
  font: 1em Consolas, 'Andale Mono', 'Lucida Console', monospace;
  line-height: 1.5;
}

kbd { font-style: italic; }

small, .small {
  font-size: .8em;
  line-height: 1.875em;
  margin-bottom: 1.875em;
}

sub, sup, .sub, .sup {
  font-size: 0.9em;
  line-height: 1%;	
}

sub, .sub { vertical-align: sub; }

sup, .sup { vertical-align: super; }

var {
  color: #1111f0;	
}

/* ****************************************************************************
 * Quotes
 * ************************************************************************* */
blockquote	{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: #666;
  font-style: italic;
  margin: 1.5em;
  padding: 0 1em;
}

blockquote cite {
  display: block;
  margin: 0;
  padding: 0;
  text-align: right;
}

cite {
  font-style: italic;
  font-weight: bold;
}

q:before {
  content: "\201C";
  padding-right: 0.1em;
}

q:after {
  content: "\201D";
  padding-left: 0.1em;
}


/* ****************************************************************************
 * Lists
 * ************************************************************************* */
li ul, li ol { margin:0 1.5em; }
ul, ol       { margin: 0 1.5em 1.5em 1.5em; }
ul           { list-style-type: disc; }
ol           { list-style-type: decimal; }
dl			 { margin: 0 0 1.5em 0; }
dl dt		 { font-weight: bold; }
dd			 { margin-left: 1.5em;}


/* ****************************************************************************
 * Tables 
 * ************************************************************************* */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

th { font-weight: bold; }

thead th, thead td {
  background: #c3d9ff;
  border-bottom: 1px solid #000;
}

th, td, caption {
  padding: 4px 10px 4px 5px;
}

tr.even td { background: #fff; }

tfoot { font-style: italic; }

caption { background: #eee; }


/* ****************************************************************************
 * Misc Classes
 * ************************************************************************* */

.hide { display: none; }

.quiet { color: #666; }

.loud { color: #000; }

.highlight { background: #ff0; }

.added {
  background: #c7f2c8;
  color: #000;
  padding: 0 0.25em;
}

.removed {
  background: #ffcccc;
  color: #666;
  padding: 0 0.25em;
  text-decoration: strikethrough;
}

.caps {
  font-size: 1.2em;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1%;
  padding: 0 2px;
  text-transform: lowercase;
}

.fancy {
  color: #666;
  font-family: "Palatino", "Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}
